body {
	background-color: rgba(44, 154, 182, 0.61);
	font-family: 'Ovo', serif;
	font-size: 14px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
}

h1 {
	font-size: 32px;
	padding: 4px;
}

h2 {
	font-family: 'Happy Monkey', cursive;
	font-size: 18px;
	padding: 4px;
}

#wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	padding-top: 143px;

	background:-webkit-gradient(radial, 250 500,0,250 50,800,
	            from(rgba(255,255,255,.4)),to(transparent)) transparent;
	background: -moz-radial-gradient(250px 500px,
	            rgba(255,255,255,.4), transparent) transparent;
}

#input-form {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	top: 25%;

	width: 500px;
	height: 520px;
	background-color: white;
	padding: 23px 23px 20px 23px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	z-index: 1000;

	-webkit-box-shadow: 0px 0px 12px rgba(145, 94, 145, 0.75);
	-moz-box-shadow:    0px 0px 12px rgba(145, 94, 145, 0.75);
	box-shadow:         0px 0px 12px rgba(145, 94, 145, 0.75);
}

#drop-zone {
	font-family: 'Happy Monkey', cursive;
	font-size: 22px;
	margin-top: 20px;
	border: 3px dashed #bbb;
	height: 230px;
	padding-top: 145px;
}

#advanced_section {
	margin-top: 9px;
}

#advanced_override_form_controls {
	font-family: 'Happy Monkey', cursive;
	padding: 10px;
}

#fid_controls {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin: 0px 0px 10px 10px;
}

#fid {
	width: 100%;
	margin-left: 10px;
}

#dialog {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    width: 1431px;
}

#floor {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background: url('Cork-Floor.png');
    width: 1431px;
    height: 95px;
    top: 27px;
    z-index: -10;
    position: relative;
}

#info-sign {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	color: rgb(116,9,9);
	font-size: 20px;
	position: relative;

	width: 500px;
	height: 40px;
	padding: 16px 10px 16px 10px;
    line-height: 1.1em;
	background-color: white;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: -10;
}

#info-sign .bold {
	text-transform: uppercase;
}

.close-button {
    float:right;
    margin-top:-18px;
    margin-right:-15px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 12px 8px;
}

.close-button:before {
    content: "x";
}

#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background: url('Background-Grid.png') repeat-x;
    height: 541px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: -1000;
}

#dialog-background {
    background: url('Shapes-Background.png') no-repeat;
    width: 1431px;
    height: 543px;
}

#google-chrome {
    position: absolute;
    background: url('Google-Chrome-Logo.png') 0px 22px no-repeat;
    width: 244px;
    height: 80px;
    top: 36px;
    right: 27px;
    font-size: 16px;
    color: white;
}

#google-chrome a {
    color: white;
}

#google-chrome a:hover {
    text-decoration: underline;
}

#knowledge-section {
    top: 14px;
    width: 1431px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 67px;
	text-align: center;
    color: #000;
    font-size: 18px;
    line-height: 1.7em;
    padding-top: 37px;
    font-family: 'Gafata', sans-serif;
    position: relative;
    left: -27px;
    z-index: 200;
    overflow:auto;
}

#knowledge-section h3 {
    font-family: 'Ovo', serif;
    font-size: 20px;
    color: #02224b;
    margin-bottom: 12px;
}

#knowledge-section p {
    margin-bottom: 28px;
}

#knowledge-section .column {
    margin-left: 35px;
    width: 440px;
    float: left;
}

#discuq {
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    width: 540px;
    padding: 20px;
    z-index: 10000;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	z-index: 1000;

	background-color: rgba(255, 255, 255, 0.32);
}

#discuq h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

#proj12 {
	margin-top: 71px;
    text-align: center;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 48px;
}

#proj12 h2 {
	font-size: 32px;
}

#proj12 ul {
	list-style: circle;
}
