body {
	background-color: rgba(44, 154, 182, 0.61);
	font-family: 'Ovo', serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
}

h1 {
	font-size: 32px;
	padding: 4px;
}

h2 {
	font-family: 'Happy Monkey', cursive;
	font-size: 18px;
	padding: 4px;
}

#wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	padding-top: 143px;
	
	background:-webkit-gradient(radial, 250 500,0,250 50,800,
	            from(rgba(255,255,255,.4)),to(transparent)) transparent;
	background: -moz-radial-gradient(250px 500px, 
	            rgba(255,255,255,.4), transparent) transparent;
}

#input-form {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	top: 25%;

	width: 500px;
	height: 500px;
	background-color: white;
	padding: 23px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	z-index: 1000;
	
	-webkit-box-shadow: 0px 0px 12px rgba(145, 94, 145, 0.75);
	-moz-box-shadow:    0px 0px 12px rgba(145, 94, 145, 0.75);
	box-shadow:         0px 0px 12px rgba(145, 94, 145, 0.75);
}

#drop-zone {
	font-family: 'Happy Monkey', cursive;
	font-size: 22px;
	margin-top: 20px;
	border: 3px dashed #bbb;
	height: 230px;
	padding-top: 145px;
}

#dialog {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    width: 1431px;
}

#floor {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background: url('Cork-Floor.png');
    width: 1431px;
    height: 95px;
    top: 15px;
    z-index: -10;
    position: relative;
}

#info-sign {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	
	color: rgb(116,9,9);
	font-size: 20px;
	position: relative;

	width: 500px;
	height: 40px;
	padding: 20px 5px 0px 5px;
	background-color: white;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: -10;
	
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

#info-sign .bold {
	text-transform: uppercase;
}

.close-button {
    float:right;
    margin-top:-31px;
    margin-right:-15px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 12px 8px;       
}

.close-button:before {
    content: "x";
}

#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    background: url('Background-Grid.png') repeat-x;
    height: 541px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}

#dialog-background {
    background: url('Shapes-Background.png') no-repeat;
    width: 1431px;
    height: 543px;
}